@{
    ViewBag.Title = "Resume Vault";
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
}

@section scripts
{
    <script src="~/ClientSideLogic/profile.js"></script>
    <script>

        $(document).ready(function () {
            console.log(sessionStorage["token"]);
            userprofile.loadAwards(callback);
            userprofile.getUserId('@ViewBag.Token', callback)
        });

        function callback(result) {
            debugger;
            sessionStorage["token"] = JSON.parse(JSON.parse(result.data)).UserId;
        }

    </script>
}

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                    <h6 class="mb-3">Concept</h6>
                    <p class="mb-0">TODO</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                    <h6 class="mb-3">Frequently Asked Questions</h6>
                    <p class="mb-0">TODO</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                    <h6 class="mb-3">Milestones</h6>
                    <p class="mb-0">TODO</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-tasks text-primary mb-4"></i>
                    <h6 class="mb-3">Suggestions & Feedback</h6>
                    <p class="mb-0">TODO</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-hands-helping text-primary mb-4"></i>
                    <h6 class="mb-3">Statistics</h6>
                    <p class="mb-0">TODO</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-book-reader text-primary mb-4"></i>
                    <h6 class="mb-3">Testimonials</h6>
                    <p class="mb-0">TODO</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-drafting-compass text-primary mb-4"></i>
                    <h6 class="mb-3">Pricing</h6>
                    <p class="mb-0">TODO</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-chart-line text-primary mb-4"></i>
                    <h6 class="mb-3">Referral</h6>
                    <p class="mb-0">TODO</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Contact For Any Query</h1>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center bg-light rounded p-4">
                            <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3" style="width: 45px; height: 45px;">
                                <i class="fa fa-map-marker-alt text-primary"></i>
                            </div>
                            <span>123 Street, New York, USA</span>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center bg-light rounded p-4">
                            <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3" style="width: 45px; height: 45px;">
                                <i class="fa fa-envelope-open text-primary"></i>
                            </div>
                            <span>info@example.com</span>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center bg-light rounded p-4">
                            <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3" style="width: 45px; height: 45px;">
                                <i class="fa fa-phone-alt text-primary"></i>
                            </div>
                            <span>+012 345 6789</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                        frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


@*<div>
    <section class="mb-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <form>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="schoolName" class="form-control" placeholder="School Name/College Name" name="schoolName" />
                                <label class="form-label" for="schoolName">School Name/College Name</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="text" id="qualification" class="form-control" name="qualification" />
                                <label class="form-label" for="qualification">Qualification</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="text" id="schoolLocation" class="form-control" name="schoolLocation" />
                                <label class="form-label" for="schoolLocation">School Location/Address</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="text" id="educationBoard" class="form-control" name="educationBoard" />
                                <label class="form-label" for="educationBoard">Education Board</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="date" id="startDate" class="form-control" name="startDate" />
                                <label class="form-label" for="startDate">Start Date</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="date" id="completedDate" class="form-control" name="completedDate" />
                                <label class="form-label" for="completedDate">Completed Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between bg-light mb-3">
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example"><button type="button" onclick="createQualification()" class="btn btn-primary btn-lg m-1">Save</button></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>*@