
@{
    ViewBag.Title = "Build Finalize";
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
}
<style>
    #templateLayout {
        transform: scale(95%)
    }
</style>
@section scripts {
    <script src="~/ClientSideLogic/resumetemplate.js"></script>
    <script src="~/ClientSideLogic/Validation.js"></script>
    <script>
        function changeIcon(obj) {
            $(obj).addClass('fa-check').removeClass('fa-times');
        }

        //function callNext() {
        //    window.location = 'https://localhost:44304/CVBuilder/BuildFinalize/' + $('#templateName').text().trim();
        //};

        $(document).ready(function () {
            var templatename = '@ViewBag.Template';
            cvtemplate.getavailabletemplatesections(templatename, callback);
            $('#templateLayout').load('/Assets/templates/' + templatename + ".html");
        });

        function callback(result) {
            debugger;
            var data = JSON.parse(result.data);
            var html = "";
            data.forEach(function (item) {
                html += `<div class="form-check form-switch">
                    <input class="form-check-input" onChange="updateResume(this, '`+item.SectionName+`')" sec="` + item.SectionName + `" type="checkbox" id="flexSwitchCheckChecked" checked />
                    <label class="form-check-label" for="flexSwitchCheckChecked">` + item.SectionName + `</label>
                </div>`;
            });
            $('#sectionList').html(html);
        };

        function updateResume(obj, code) {
            if ($(obj).is(':checked')) {
                $('[sectarget=' + code.toLowerCase() + ']').show()
                //$('[sec="' + $('[sec=' + $(obj).attr('sec') + "]") + "]").show();
            }
            else {
                $('[sectarget=' + code.toLowerCase() + ']').hide()
                //  $('[sec="' + $('[sec=' + $(obj).attr('sec') + "]") + "]").hide();
            }
        }

        function validateFinalBuild() {
            debugger;
            var bool = true;
            var titleValidation = new ValidateText($("#title"), "Title").Required().MinLength(3);
            var publicUrlValidation = new ValidateText($("#publicurl"), "Public Url").Required().MinLength(5);//.ServiceValidate('uniquepublickey');
            var passcodeValidation = new ValidateText($("#passcode"), "Passcode").Required().FixedLength(6);
            var errors = [];
            $.merge(errors, titleValidation.error)
            $.merge(errors, publicUrlValidation.error)
            $.merge(errors, passcodeValidation.error)
            $('.errorMessageBox').html(errors.join('<br/>'));
            return errors.length == 0;
        }

        function generateResume() {
            debugger;
            if (validateFinalBuild()) {
                var sections = []
                $('input[type="checkbox"]:checked').each(function (i, item) {
                    sections.push($(item).attr('sec'))
                });
                var data = {
                    title: $('#title').val(),
                    publicurl: $('#publicurl').val(),
                    securitycode: $('#passcode').val(),
                    template: '@ViewBag.Template',
                    sections: sections
                };

                cvtemplate.submitNewResume(data, submitcallback);
            };
        }

        function submitcallback(result) {
            console.log(result);
        }

        function showPasscode(obj) {
            debugger;
            if ($(obj).attr('enablePassword') == 'false') {
                $(obj).attr('enablePassword', 'true');
                $('#passcodeField').hide();
            }
            else {
                $(obj).attr('enablePassword', 'false');
                $('#passcodeField').show();
            }

        }

    </script>
}
<div class="mt-2 mb-2">
    <div class="row">
        <div class="col-md-12 col-lg-6" style="background-color:whitesmoke">
            <form id="myForm" action="submit.php" method="POST">
                <div class="errorMessageBox"></div>
                <div class="row g-3" style="margin-left:5px">
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                        @*<a class="btn btn-primary py-3 px-5 mt-3" href="">Next</a>*@
                        <p>
                            <i class="fa fa-check text-primary  py-3 px-5 mt-3"></i>Selected template: <span id="templateName">@ViewBag.Template</span>
                        </p>
                    </div>
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="title" placeholder="Title">
                            <label for="title">Title</label>
                        </div>
                    </div>
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="publicurl" placeholder="Public Url">
                            <label for="publicurl">Public Url</label>
                        </div>
                    </div>
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                        <div class="form-check form-switch">
                            <input class="form-check-input" enablePassword="false" onChange="showPasscode(this)" type="checkbox" id="flexSwitchCheckChecked" checked />
                            <label class="form-check-label" for="flexSwitchCheckChecked">Enable Password Protection</label>
                        </div>
                    </div>
                    <div class="col-lg-12 wow fadeIn" id="passcodeField" data-wow-delay="0.5s">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="passcode" placeholder="Pass Code">
                            <label for="passcode">Pass Code</label>
                        </div>
                    </div>
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                        <h4 class="mb-3">Sections</h4>

                        <div id="sectionList">
                        </div>

                    </div>
                </div>
                <div class="d-flex justify-content-between bg-light mb-3">
                    <div class="p-2 col-example">&nbsp;</div>
                    <div class="p-2 col-example">&nbsp;</div>
                    <div class="p-2 col-example"><button type="button" onclick="generateResume()" class="btn btn-primary btn-lg m-1">Generate</button></div>
                </div>
            </form>
        </div>
        <div class="col-md-12 col-lg-6" style="background-color:antiquewhite" id="templateLayout">
            <iframe src="~/Assets/templates/document-html.pdf" style="width:100%; min-height:500px" class="ls-wide ver" onabort=""></iframe>
        </div>
    </div>

</div>