
@{
    ViewBag.Title = "Public";
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
}

@section scripts {
    <script></script>
    <script>

    </script>
}

<h2>@ViewBag.Re</h2>

<h4>@ViewBag.User</h4>
<h4>@ViewBag.ResumeTemplate</h4>

<div>

</div>

