
@{
    ViewBag.Title = "Copyrights";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <label for="patent-title">Title</label>
        </div>
        <div class="col-md-3">
            <label for="patent-date">Copyright Date</label>
        </div>
        <div class="col-md-6">
            <label for="patent-description">Description</label>
        </div>
    </div>
    <!-- You can repeat the row below to add more patents -->
    <div class="row">
        <div class="col-md-3">
            <span>Smartphone Interface Patent</span>
        </div>
        <div class="col-md-3">
            <span>June 15, 2021</span>
        </div>
        <div class="col-md-6">
            <span>A patent for an innovative user interface for smartphones.</span>
        </div>
    </div>
    <!-- You can repeat the row above to add more patents -->
</div>