
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}
@section scripts {
    <script src="~/ClientSideLogic/profile.js"></script>
    <script>

        $(document).ready(function () {
            userprofile.loadCourses(callback);
        });

        function callback(data) {
            debugger;
            var exps = JSON.parse(data.data);
            $('#courseRow').html('');
            var html = "";
            exps.forEach(function name(item) {
                console.log(item);
                html += `<tr><td>` + item.CourseTitle + `</td>
                             <td>`+ item.Institute + `</td>
                             <td>`+ item.Address + `</td>
                             <td>`+ item.Tenure + `</td>
                             <td>`+ item.PersuedIn + `</td>
                             </tr>`
            });
            $('#courseRow').html(html);
        }

        function createCourses() {
            var formData = {
                course: $("#course").val(),
                institute: $("#institute").val(),
                address: $("#address").val(),
                tenure: $('#tenure').val(),
                peruseIn: $('#peruseIn :Selected').val()
            };

            userprofile.updateCourses(formData, function () {
userprofile.loadCourses(callback);
            });
        }

    </script>
}
<div>
    <section class="mb-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <form>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="course" class="form-control" name="course" />
                                <label class="form-label" for="course">Course</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="institute" class="form-control" name="institute" />
                                <label class="form-label" for="institute">Institute</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="address" class="form-control" name="address" />
                                <label class="form-label" for="address">Address</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="tenure" class="form-control" name="tenure" />
                                <label class="form-label" for="tenure">Tenure</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <select class="form-control" id="peruseIn" name="peruseIn" required>
                                    <option value="Full-Time">Full-Time</option>
                                    <option value="Part-Time">Part-Time</option>
                                    <option value="Online">Online</option>
                                    <option value="Other">Other</option>
                                </select>
                                <label class="form-label" for="peruseIn">Peruse In</label>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between bg-light mb-3">
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example"><button type="button" onclick="createCourses()" class="btn btn-primary btn-lg m-1">Save</button></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Title</th>
                <th>Institute</th>
                <th>Address</th>
                <th>Tenure</th>
                <th>Peruse In</th>
            </tr>
        </thead>
        <tbody id="courseRow">
        </tbody>
    </table>
</div>