
@{
    ViewBag.Title = "Patents";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}
@section scripts {
    <script src="~/ClientSideLogic/profile.js"></script>
    <script>

        $(document).ready(function () {
            console.log('First Call:');

            userprofile.loadPatent(callback);

        });

        function callback(data) {
            var patents = JSON.parse(data.data);
            $('#patentRow').html('<tr>');
            var html = "";
            patents.forEach(function name(params) {
                html += '<tr>'
                html += '<td>' + params.Title + '</td>'
                html += '<td>' + params.Date + '</td>'
                html += '<td>' + params.Description + '</td>'
                html += '</tr>'
            });
            $('#patentRow').html(html + "</tr>");
        }

        function createPatent() {
            var formData = {

                title: $("#patent-title").val(),

                date: $("#patent-date").val(),

                description: $("#patent-description").val()

            };

            userprofile.updatePatent(formData, function () {
                userprofile.loadPatent(callback);
            });
            
        }


    </script>
}
<div>
    <section class="mb-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <form>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="patent-title" class="form-control" name="patent-title" placeholder="Title" />
                                <label for="patent-title">Title</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" id="patent-date" class="form-control" name="patent-date" placeholder="Date" />
                                <label for="patent-date">Patent Date</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" id="patent-description" class="form-control" name="patent-description" placeholder="Description" />
                                <label for="patent-description">Patent Description</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Title</th>
                <th>Patent Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="patentRow">
        </tbody>
    </table>
</div>