
@{
    ViewBag.Title = "Profile Information";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}

<script src="~/ClientSideLogic/profile.js"></script>
@section scripts {

    <script>
        $(document).ready(function () {
            console.log('First Call:');
            debugger;
            userprofile.personaldetails(callback);

        });

        function callback(resp) {
            var profile = JSON.parse(resp.data);
            $('#first-name').val(profile.FirstName);
            $('#middle-name').val(profile.MiddleName);
            $('#last-name').val(profile.LastName);
            $('#preferred-name').val(profile.PreferredName);
            $('#city').val(profile.City);
            $('#country').val(profile.Country);
            $('#pin-code').val(profile.Pincode);
            $('#phone').val(profile.Phone);
            $('#email').val(profile.Email);
            $('#state').val(profile.State);
            document.querySelectorAll('.form-floating').forEach((formOutline) => { new mdb.Input(formOutline).update(); });
        }

        function SaveUserProfile() {
            var submission = {};
            submission["userid"] = "123456789";
            submission["firstname"] = $('#first-name').val();
            submission["middlename"] = $('#middle-name').val();
            submission["lastname"] = $('#last-name').val();
            submission["prefname"] = $('#preferred-name').val();
            submission["city"] = $('#city').val();
            submission["country"] = $('#country').val();
            submission["pincode"] = $('#pin-code').val();
            submission["phone"] = $('#phone').val();
            submission["email"] = $('#email').val();
            submission["state"] = $('#state').val();

            userprofile.updatepersonaldetails(submission, callback);

        }

    </script>
}


<div>
    <section class="mb-2">
        @*<h4 class="m-2 mt-5"><strong>User Information Form</strong></h4>*@

        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <form>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="first-name" class="form-control" name="first-name" placeholder="First Name" />
                                <label class="form-label" for="first-name">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="middle-name" class="form-control" name="middle-name" placeholder="Middle Name" />
                                <label class="form-label" for="middle-name">Middle Name</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="last-name" class="form-control" name="last-name" placeholder="Last Name" />
                                <label class="form-label" for="last-name">Last Name</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="preferred-name" class="form-control" name="preferred-name" placeholder="Preferred Name" />
                                <label class="form-label" for="preferred-name">Preferred Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="city" class="form-control" name="city" placeholder="City" />
                                <label class="form-label" for="city">City</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="state" class="form-control" name="state" placeholder="State" />
                                <label class="form-label" for="state">State</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="country" class="form-control" name="country" placeholder="Country" />
                                <label class="form-label" for="country">Country</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="pin-code" class="form-control" name="pin-code" placeholder="Pin Code" />
                                <label class="form-label" for="pin-code">Pin Code</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="tel" id="phone" class="form-control" name="phone" placeholder="Phone" />
                                <label class="form-label" for="phone">Phone</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="email" id="email" class="form-control" name="email" placeholder="Email" />
                                <label class="form-label" for="email">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between bg-light mb-3">
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example"><button type="button" onclick="SaveUserProfile()" class="btn btn-primary btn-lg m-1">Save</button></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>