
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            <label for="title">Title</label>
        </div>
        <div class="col-md-2">
            <label for="technologies">Technologies</label>
        </div>
        <div class="col-md-2">
            <label for="tools">Tools</label>
        </div>
        <div class="col-md-1">
            <label for="owner">Owner</label>
        </div>
        <div class="col-md-1">
            <label for="role">Role</label>
        </div>
        <div class="col-md-1">
            <label for="team-size">Team Size</label>
        </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <label for="short-description"><i><small>Short Description</small></i></label>
        </div>
        <div class="col-md-6">
            <label for="long-description"><i><small>Long Description</small></i></label>
        </div>
    </div>
    <!-- You can repeat the row below to add more projects -->
    <div class="row">
        <div class="col-md-2">
            <span>Project A</span>
        </div>
        <div class="col-md-2">
            <span>Java, Spring</span>
        </div>
        <div class="col-md-2">
            <span>Eclipse</span>
        </div>
        <div class="col-md-1">
            <span>John Doe</span>
        </div>
        <div class="col-md-1">
            <span>Developer</span>
        </div>
        <div class="col-md-1">
            <span>5</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span><i><small>Web app development</small></i></span>
        </div>
        <div class="col-md-6">
            <span><i><small>A web application for managing tasks and projects.</small></i></span>
        </div>
    </div>
    <!-- You can repeat the row above to add more projects -->
</div>