
@{
    ViewBag.Title = "Qualification";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}
<script src="~/ClientSideLogic/profile.js"></script>
<script>

    $(document).ready(function () {
        userprofile.loadQualification(callback);
    });

    function callback(data) {
        var exps = JSON.parse(data.data);
        $('#qualificationRow').html('');
        var html = "";
        exps.forEach(function name(item) {
            console.log(item);
            html += `<tr><td>`+ item.NameOfSchoolCollege + `</td>
                         <td>`+ item.Qualification + `</td>
                         <td>`+ item.Location + `</td>
                         <td>`+ item.EducationBoard + `</td>
                         <td>`+ moment(item.StartTime).format('MM/DD/YYYY') + `</td>
                         <td>`+ moment(item.EndTime).format('MM/DD/YYYY') + `</td>
                         </tr>`
        });
        $('#qualificationRow').replaceWith(html);
    }

    function createQualification() {
        var formData = {
            schoolName: $("#schoolName").val(),
            qualification: $("#qualification").val(),
            schoolLocation: $("#schoolLocation").val(),
            educationBoard: $('#educationBoard').val(),
            startDate: $('#startDate').val(),
            completedDate: $("#completedDate").val()
        };

        userprofile.updateQualification(formData);
        userprofile.loadQualification(callback);

    }

</script>
<div>
    <section class="mb-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <form>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="text" id="schoolName" class="form-control" name="schoolName" />
                                <label class="form-label" for="schoolName">School Name/College Name</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="text" id="qualification" class="form-control" name="qualification" />
                                <label class="form-label" for="qualification">Qualification</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="text" id="schoolLocation" class="form-control" name="schoolLocation" />
                                <label class="form-label" for="schoolLocation">School Location/Address</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="text" id="educationBoard" class="form-control" name="educationBoard" />
                                <label class="form-label" for="educationBoard">Education Board</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="date" id="startDate" class="form-control" name="startDate" />
                                <label class="form-label" for="startDate">Start Date</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-outline">
                                <input type="date" id="completedDate" class="form-control" name="completedDate" />
                                <label class="form-label" for="completedDate">Completed Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between bg-light mb-3">
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example"><button type="button" onclick="createQualification()" class="btn btn-primary btn-lg m-1">Save</button></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <td>School Name/College Name</td>
                <td>Qualification</td>
                <td>School Location/Address</td>
                <td>Education Board</td>
                <td>Start Date</td>
                <td>Completed Date</td>
            </tr>
        </thead>
        <tbody id="qualificationRow">
        </tbody>
    </table>
</div>