
@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}

@section scripts {
    <script src="~/ClientSideLogic/profile.js"></script>
    <script>

        $(document).ready(function () {
            userprofile.loadSkills(callback);
        });

        function callback(data) {
            var exps = JSON.parse(data.data);
            $('#skillsRow').html('');
            var html = "";
            exps.forEach(function name(item) {
                html += `<tr><td>` + item.Skill1 + `</td>
                             <td>`+ userprofile.getProficiency(item.Proficiency) + `</td>
                             <td>`+ item.Certifications + `</td></tr>`
            });
            $('#skillsRow').replaceWith(html);
        }

        function createSkills() {
            var formData = {
                skill: $("#skill").val(),
                proficiency: $("#proficiency").val(),
                certifications: $("#certifications").val()
            };

            userprofile.updateSkills(formData);
            userprofile.loadSkills(callback);

        }

    </script>
}

<div>
    <section class="mb-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <form>
                    <div class="row mb-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="skill" class="form-control" name="skill" placeholder="Skill" />
                                <label class="form-label" for="skill">Skill</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <select class="form-control" id="proficiency" name="proficiency" required>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Advanced">Advanced</option>
                                    <option value="Expert">Expert</option>
                                </select>
                                <label class="form-label" for="proficiency">Proficiency</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-floating">
                                <input type="text" id="certifications" class="form-control" name="certifications" placeholder="Certifications (If Any)" />
                                <label class="form-label" for="certifications">Certifications (If Any)</label>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between bg-light mb-3">
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example">&nbsp;</div>
                        <div class="p-2 col-example"><button type="button" onclick="createSkills()" class="btn btn-primary btn-lg m-1">Save</button></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Skill</th>
                <th>Proficiency</th>
                <th>Certifications If Any</th>
            </tr>
        </thead>
        <tbody id="skillsRow">
        </tbody>
    </table>
</div>
