
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
}

@section scripts {
    <script src="~/ClientSideLogic/resumetemplate.js"></script>
    <script>

        $(document).ready(function () {
            cvtemplate.getresumes(callback);
        });

        function callback(response) {
            var langs = JSON.parse(response.data);
            console.log(langs);
            $('#resumeItems').html('<tr>');
            var html = "";
            langs.forEach(function name(params) {
                html += `<div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">`+ params.Title + `</h5>` +
                    //<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>`+ moment(params.CreatedOn).format('DD MMM, YYYY') +`</span>
                    `<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"> ` + params.Downloads + ` Downloads</i></span>` +
                    //<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i> 682 </span>
                    //<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i> 95 </span>
                    `<a class="btn btn-link btn-rounded btn-sm fw-bold" target="_blank"
                                           href="https://localhost:44304/public/`+ params.TemplateId + `/cv/` + params.PublicUrl + `">Resume Public Url</a><code>` + params.Code + `</code>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">` +
                    //<a title="Lock" class="btn btn-light btn-square me-3"><i class="fas fa-key m-1"></i></a>
                    //<a title="Unlock" class="btn btn-light btn-square me-3"><i class="fas fa-unlock m-1"></i></a>
                    `<a title="Delete" class="btn btn-light btn-square me-3"><i class="fas fa-trash m-1"></i></a>
                                    </div>
                                    <small class="text-truncate me-3"><i class="far fa-calendar-alt text-primary me-3"></i>Created : `+ moment(params.CreatedDate).format('DD MMM, YYYY') + `</small>
                                </div>
                            </div>
                        </div>
                    </div>`
            });
            $('#resumeItems').html(html + "</tr>");
            //12 Companies, 22 Emails
        }

    </script>
}


<h2>Index</h2>


