
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@section scripts {
    <script src="~/ClientSideLogic/resumetemplate.js"></script>
    <script>
        function changeIcon(obj) {
            $(obj).addClass('fa-check').removeClass('fa-times');
        }

        //function callNext() {
        //    window.location = 'https://localhost:44304/CVBuilder/BuildFinalize/' + $('#templateName').text().trim();
        //};

        $(document).ready(function () {
            debugger;
            var templatename = '@ViewBag.Template';
            //var publicUrl = '@ViewBag.PublicUrl';
            cvtemplate.getTemplateName('@ViewBag.Template', templateNameCallback);
        });

        function templateNameCallback(result) {
            debugger;
            cvtemplate.getavailabletemplatesections(JSON.parse(result.data).Title, callback);
            $('#templateLayout').load('/Assets/templates/' + JSON.parse(result.data).Title + ".html");
        }

        function callback(result) {
            debugger;
            var data = JSON.parse(result.data);
            var html = "";
            data.forEach(function (item) {
                html += `<div class="form-check form-switch">
                    <input class="form-check-input" onChange="updateResume(this, '`+item.SectionName+`')" sec="` + item.SectionName + `" type="checkbox" id="flexSwitchCheckChecked" checked />
                    <label class="form-check-label" for="flexSwitchCheckChecked">` + item.SectionName + `</label>
                </div>`;
            });
            $('#sectionList').html(html);
        };

        function updateResume(obj, code) {
            if ($(obj).is(':checked')) {
                $('[sectarget=' + code.toLowerCase() + ']').show()
                //$('[sec="' + $('[sec=' + $(obj).attr('sec') + "]") + "]").show();
            }
            else {
                $('[sectarget=' + code.toLowerCase() + ']').hide()
                //  $('[sec="' + $('[sec=' + $(obj).attr('sec') + "]") + "]").hide();
            }
        }

        function generateResume() {

            var sections = []
            $('input[type="checkbox"]:checked').each(function (i, item) {
                sections.push($(item).attr('sec'))
            });
            var data = {
                title: $('#title').val(),
                publicurl: $('#publicurl').val(),
                securitycode: $('#passcode').val(),
                template: '@ViewBag.Template',
                sections: sections
            };

            cvtemplate.submitNewResume(data, submitcallback);

        }

        function submitcallback(result) {
            console.log(result);
        }

    </script>
}
<div class="mt-2 mb-2">
    <div class="row">
        <div class="col-md-12" style="background-color:antiquewhite" id="templateLayout">

        </div>
    </div>
</div>

